<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Tinkerbelle</title>
    
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!--     <link rel="stylesheet" type="text/css" href="style.css" media="screen"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>

    </head>
<body>
<div id='user'>
	<button  id='control'>Jane Wren</button>
	<button id='light'>Tinkerbelle</button>
</div>
<div id='controlPanel'>
	<div class="pickr"></div>
	<br>
	<label> Audio
		<input type="text" id='audioIn'>
		<button id='play'>▶️</button>
		<button id = 'pause'>■</button>

	</label>
	<div id="circleControl">
		<button id="upArrow">↑</button>
		<span id="circleCounter">0</span>
		<button id="downArrow">↓</button>
	  </div>
	  <div id="circleWrapper" class="gooey">
		<svg width="0" height="0">
			<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
				<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
				<feComposite in="SourceGraphic" in2="goo"></feComposite>
			</filter>
			</defs>
		</svg>
	</div>
	  
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'monolith' theme -->
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script src="static/index.js"></script>
</body>
</html>